
   
    .splash {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#292929, #5963d6);;
    }

    .spinner {
        // your animation code (SpinKit used in this demo)
      }

      