<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="qr-scanner"></ion-icon>
      Start scanning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
 <div class="ion-padding">
    <ion-fab color="danger" slot="fixed"  class="qrScann">
        <ion-fab-button (click)="this.qrCodeScannerService.StartScanningQRCode()">QRcode</ion-fab-button>
        
      </ion-fab>
      <ion-fab color="danger" slot="fixed"  class="nfcScann">
          <ion-fab-button (click)="this.nfcScannerService.StartScanningNFC()"  >NFC</ion-fab-button>
      </ion-fab>
 </div>
 
</ion-content>
