.title{
    
    text-align: center;
    color: rgb(34, 117, 165);
    font-size: 30px;
     
}

.qrScann{
    margin-top:60px;
    height: 70px;
    font-size: 30px;
    
    
   
}
.nfcScann{
    margin-top:20px;
    font-size: 30px;
    height: 70px;

}

// ion-content,ion-toolbar{
//     --background: #fff url('../../assets/images/cover.jpg') no-repeat center center / cover;
// }

