<!-- <ion-header class="header">
  <ion-toolbar>
    <ion-title class="title">
       <ion-icon class="title_icon" ios="ios-bluetooth" md="md-bluetooth"></ion-icon>
       <span class="title_text">pairing device</span> 
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="home">
    
 <div class="ion-padding">
   <div class="pairing">
     <!-- <p class="title">Poc Scanner</p> -->
      <ion-img src='../assets/images/logo_home.PNG'></ion-img>
   </div>
        <ion-button (click)="this.qrCodeScannerService.StartScanningQRCode()" expand="block" color="primary" class="qrScann">QRcode</ion-button>
        <ion-button (click)="this.nfcScannerService.StartScanningNFC()" expand="block" color="secondary" class="nfcScann">NFC</ion-button>
 </div>
 
</ion-content>
