.qrScann{
    font-size: 70px;
    top:30%;
    left:50%;
    transform: translate(-50%,-70%);
    padding: 30px;
}
.nfcScann{
    font-size: 70px;
    top:60%;
    left:50%;
    transform: translate(-50%,-40%);
    padding: 30px;

}
